// 轮播图 
.banner{
    .carousel{
            .carousel-inner{ 
                .item{
                    width: 100%;
                        img{
                         width: 100%;
                        }
                
                     }
                     



                    
        }
    }
} 

// 私人订制
.work{
        .container{
            
        .top{
            display: flex;
            justify-content: center;
            margin-top: 5em;
            
            h1{
                font-size: 4em;
                font-weight: bold;
                letter-spacing: 8px;
                
            }
        }
        .bottom{
            display: flex;
            justify-content: center;

            span{
                display: inline-block;
                width: 50%;
                text-align: center;
            }
        }
        .wink{
            padding: 4em 0em;
            text-align: center;
        }
    }
    @media screen and(max-width:800px){
        &{
                  .container{
                      .top{
                          h1{
                              font-size: 2em;
                              text-align: center;
                          }
                      }
                  }
              
               
            
        }
    }   
    @media screen and(max-width:400px) {
        &{
            .container{
                .top{
                    h1{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

// 男女装
.list{
    margin-bottom: 10em;
    .item{
        width: 100%;
        .top{
            display: flex;
            justify-content: space-around;
            
            margin-bottom: 2em;

            .left{
                width: 49.5%;
                img{
                    width: 100%;
                }
              
            }
            .right{
                display: flex;
                width: 49.7%;
                justify-content: space-between;
                img{
                    width: 100%;
                }
                
                .right2{
                    width: 49%;
                    img{
                        width: 100%;
                    }
                
                }
              
            }

        }
        .bottom{
            display: flex;
            justify-content: space-around;
            .left{
                display: flex;
                width: 49.5%;   
               justify-content: space-between;
                
               
                .left1{
                    width: 49%;
                    img{
                        width: 100%;
                    }
                    
                  
         
                }
   
            }
            .right{
                width: 49%;
                img{
                    width: 100%;
                }
                       
            }   
        }
    }
    @media screen and(max-width:800px){
        &{
            .item{
                .top{
                    .left{
                        span{
                            font-size: 1em;
                        }
                    }
                    .right{
                        .right2{
                            span{
                                font-size: 1em;
                            }
                            p{
                                font-size: 1em;
                            }
                        }
                    }
                }
                .bottom{
                    .left{
                        .left1{
                            span{
                                font-size: 1em;
                            }
                            p{
                                font-size: 1em;
                            }
                        }
                    }
                    .right{
                        span{
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }

    @media screen and(max-width:400px) {
        &{
            .item{
                .bottom{
                    .left{
                        .left1{
                            span{
                                left: 16%;
                            }
                            p{
                                left:67%;
                            }
                        }
                    }
                }
                .top{
                    .left{
                        span{
                            left:21%;
                        }
                    }
                }
            }
        }
    }
}

// 今年流行
.news{
    .container{
        .year{
            text-align: center;
            h1{
                font-size: 3em;
                letter-spacing: 2px;
            }
        }
        .popular{
            .up{
                display: flex;
                width: 100%;
                .tqp{
                    width: 25%;
                    .img3{
                        margin-bottom: 2em;
                    }
                    .word{
                        text-align: center;

                        span{
                            font-weight: bold;
                        }
                        p{
                            a{
                                color: red;
                            }
                        }
                        
                    }
                   
                    
                }
            }
            .bottom{
                display: flex;
                width: 100%;
                .tqp{   
                    width: 25%;
                    text-align: center;

                    .word{
                        text-align: center;
                        span{
                            font-weight: bold;
                            
                        }
                        p{
                            a{
                                color: red;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    @media screen and(max-width:600px) {
        &{
            .container{
                .popular{
                    .up{
                        .tqp{
                            .img3{
                                margin-bottom: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and(max-width:450px) {
        &{
            .container{
                .popular{
                    .up{
                        flex-wrap: wrap;
                        .tqp{
                            width: 49%;
                        }
                    }
                    .bottom{
                        flex-wrap: wrap;
                        .tqp{
                           width: 49%;
                        }
                    }
                }
            }
        }
    }
}



//最新时装介绍
.life{
    margin-bottom: 4em;
    .container{
        margin-top: 3em;
        .nww{
            text-align: center;
            margin-bottom: 3em;
            h1{
                font-size: 3em;
                color:#000;
              }
            }
            .kay{
                display: flex;
                justify-content: space-between;
                position: relative;

                .img1{
                    width: 33%;
                    position: relative;
                    
                    .span1{
                        display: block;
                        position: absolute;
                        top:0%;
                        left: 0%;
                        color:#fff;
                        width: 100%;
                        height: 100%;
                        padding: 1em;
                    }
                    .span2{
                        position: absolute;
                        top:0%;
                        left:0%;
                        color:#fff;
                        width: 100%;
                        height: 100%;
                        padding: 1em;

                    }

                    .span3{
                        position: absolute;
                        top:0%;
                        left:0%;
                        color:#fff;
                        width: 100%;
                        height: 100%;
                        padding: 1em;

                    }

                }
            }
        }
        @media screen and(max-width:1300px) {
            &{
                .container{
                    width: 100%;
                    .nww{
                        h1{
                            font-size: 1.4em;
                        }
                    }
                    .kay{
                        .img1{     
                                .span1{
                                    flex-wrap: wrap;
                                }
                                .span2{
                                    flex-wrap: wrap;
                                }

                                .span3{
                                    flex-wrap: wrap;
                                }

                        }
                    }
                }
            }
        }

        @media screen and(max-width:500px) {
            &{
                .container{
                   .kay{
                       .img1{
                           .span1{
                            display: none;
                           }
                           .span2{
                            display: none;
                           }
                           .span3{
                            display: none;
                           }
                       }
                   }
                }
            }
        }
}

// 注册送大礼
.register{
        background: #f2f2f2;
        
    .container{
        padding: 5em 0em;
        .top{
            text-align: center;
            h1{
                font-size: 3em;
                font-weight: bold;
            }
        }
        .center{
            text-align: center;

            margin-bottom: 4em;
        }
        .bottom{
            margin: 0 auto;
            width: 35%;
            height: 3em;
            border-radius: 40px;
            background: #fff;
            position: relative;

            input{
                width: 100%;
                height: 100%;
                border-radius: 40px;
                border: 1px solid #000;
                padding: 0px 1em ;
                
                
                
            }
            

            
            .sss{
                width: 6em;
                height: 2.7em;
                border-radius: 40px;
                background: red;
                position: absolute;
                left: 78%;
                top: 5%;
                text-align: center;
                padding: .7em;
                cursor: pointer;

                a{
                    color: #fff;
                }
            }
        }
    }
    @media screen and(max-width:500px){
            &{
                    .container{
                        .bottom{
                            width: 18em;
                        }
                    }
                
            }
    }
}